.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000; /* Fondo negro */
}

.logo {
    width: 150px;
    margin-bottom: 2rem;
}

.form {
    background-color: #1a1a1a; /* Fondo gris oscuro para el formulario */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra m치s suave */
    width: 300px;
    text-align: center;
}

.input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #555; /* Borde gris oscuro */
    border-radius: 5px;
    font-size: 1rem;
    background-color: #333; /* Fondo oscuro en los inputs */
    color: #fff; /* Texto blanco */
}

.input::placeholder {
    color: #bbb; /* Color de placeholder m치s claro */
}

.button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0070f3; /* Azul para el bot칩n de registro */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.button:hover {
    background-color: #005bb5; /* Azul m치s oscuro en hover */
}

.centerText {
    color: #fff; /* Texto blanco */
    font-size: 0.9rem;
}

.centerText a {
    color: #4caf50; /* Verde para el enlace de registro */
    text-decoration: none;
}

.centerText a:hover {
    text-decoration: underline;
}